<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    </div>
    <!-- Include the stars.js script -->
    <script src="{{ '/assets/js/stars.js' | relative_url }}"></script>
</body>
</html>